---
import {getUserById} from "../../lib/user";
import fetchApi from "../../core/api";
import type {UserRating} from "../../interfaces/table";
import LogginLayout from "../../layouts/LogginLayout.astro";
import Flag from "../../components/Flag.astro";
import "../../styles/index.css";


const id = parseInt(Astro.params.id, 10);

const user = Astro.locals.user;
if (!user || !id) {
    return Astro.redirect("/login");
}

const data = await fetchApi<UserRating>('user/' + id, 'data');
const userInfo = await getUserById(id);
---
<LogginLayout title="User">
    <div class="px-12 sm:px-20">
        <h1 class="my-10">User: <span class="text-gray-400 ml-3">{data.name}</span></h1>

        <div class="mb-2">
            <span class="text-zinc-400 pr-4 w-44 inline-block">Name:</span>{userInfo.firstName} {userInfo.lastName}
        </div>
        <div class="mb-2">
            <span class="text-zinc-400 pr-4 w-44 inline-block">Standort:</span>{userInfo.department === 'Maintz' ? 'Mainz' : userInfo.department}
        </div>

        <div class="mb-2">
            <span class="text-zinc-400 pr-4 w-44 inline-block">Platz:</span>{data.position}
        </div>

        <div class="mb-2">
            <span class="text-zinc-400 pr-4 w-44 inline-block">Punkte:</span>{data.score_sum}
        </div>

        <div class="mb-2">
            <span class="text-zinc-400 pr-4 w-44 inline-block">Richtige Ergebnisse:</span>{data.sum_win_exact}
        </div>

        <div class="mb-2">
            <span class="text-zinc-400 pr-4 w-44 inline-block">Tordifferenz:</span>{data.sum_score_diff}
        </div>

        <div class="mb-2">
            <span class="text-zinc-400 pr-4 w-44 inline-block">Siege:</span>{data.sum_team}
        </div>

        <div class="mb-2">
            <span class="text-zinc-400 pr-4 w-44 inline-block">Extra-Punkte:</span>{data.extra_point}
        </div>

        <div class="mb-2">
            <span class="text-zinc-400 w-36 inline-block">Tipp:</span> <Flag iso={userInfo.winner} />
        </div>

        <div class="mb-2">
            <span class="text-zinc-400 w-36 inline-block">Geheimtipp:</span> <Flag iso={userInfo.secretWinner} />
        </div>
    </div>

            <div class="my-20 px-10 md:px-20">
                <h1 class="">Spiele</h1>

                <div style="max-width: 750px;">

                    <div class="info-grid">
                        <div class="info-date"></div>
                        <div class="info-score">Ergebnis</div>
                        <div class="info-tip">Dein Tipp</div>
                    </div>

                        {data.tips.map((game, index) => (

                                <a href={"/match/" + game.match_id} class="block">
                                    <div class="match-grid bg-neutral-800 mt-4">
                                        <div class="match-team-1 pt-5">
                                            <Flag iso={game.team1.tla} /> {game.team1.name}
                                        </div>
                                        <div class="match-team-2 pb-5">
                                            <Flag iso={game.team2.tla} /> {game.team2.name}
                                        </div>
                                        <div class="match-score-team-1 pt-5">{game.score_home}</div>
                                        <div class="match-score-team-2 pb-5">{game.score_away}</div>
                                        <div class="match-tip py-5">
                                            <div class="match-tip-grid info-tip-score">
                                                <div class="match-tip-grid-score1 score1 ">{game.tip_home}</div>
                                                <div class="match-tip-grid-score-last-box">
                                                    <div class="seven-segmnet text-xl">{game.score} Punkte</div>
                                                </div>
                                                <div class="match-tip-grid-score2 score2">{game.tip_away}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                        ))}
                </div>


            </div>
</LogginLayout>
